@charset "utf-8";

.container3 {
    margin: 0 auto;
    width: 1650px;
}
.container3 div {
    display: inline-block;
        font-family:"Noto Sans KR", sans-serif; 
    font-size: 12pt; font-weight: 600;
}
.boxSize {
    width: 400px;
    height: 200px;
}
.section1 {
    background: 
    lightcyan;
    color:
    navy;
}
.section2 {
    background: 
    lightgoldenrodyellow;
    color: 
    goldenrod;
}
.section3 {
    background: 
    lightgray;
    color: 
    grey;
}
.section4 {
    background: 
    lightpink;
    color: 
    hotpink;
}